<div class="header-most-top">
    <p>-----Reklamm Alanı ------</p>
</div>

<!-- header-bot-->
<div class="header-bot">
    <div class="header-bot_inner_wthreeinfo_header_mid">
        <!-- header-bot-->
        <div class="col-md-4 logo_agile">
            <h1>
                <a href="index.html">
                    <span>G</span>ool
                    <span>S</span>hoppy
                    <img src="{{asset('assets')}}/images/logo2.png" alt=" ">
                </a>
            </h1>
        </div>
        <div class="col-md-8 header">
            <!-- header lists -->
            <ul>
                <li>
                    <a href="{{ path('home') }}">
                        <span class="fa fa-map-marker" aria-hidden="true"></span> Anasayfa</a>
                </li>
                <li>

                    <span class="fa fa-truck" aria-hidden="true"></span> Kargo Takip</a>
                </li>
                <li>
                    <span class="fa fa-phone" aria-hidden="true"></span> 001 234 5678
                </li>
                <li>
                    <a href="{{ path('new_user') }}">
                        <span class="fa fa-unlock-alt" aria-hidden="true"></span> Kaydol </a>
                </li>


                <li>

                    <a href="{{ path('shopcart_index') }}"> <button  type="button" style="background-color: #d2ba00" value="">Sepet</button>
                    </a>
                    <!-- //cart details -->
                    <div class="clearfix"></div></li>

            </ul>
            <!-- //header lists -->
            <!-- search -->

            <!-- //search -->
            <!-- cart details -->

        </div>
    </div>
</div>
    