{% extends 'base.html.twig' %}

{% block title %}New Orderses{% endblock %}

{% block body %}


    {{ include('orderses/_form.html.twig') }}

    <a href="{{ path('orderses_index') }}">back to list</a>
{% endblock %}
