<div id="orderses">
    <div>
        <label for="orderses_userid">Userid</label>
        <input type="number" id="orderses_userid" name="orderses[userid]"></div>
    <div><label for="orderses_amount">Amount</label>
        <input type="text" id="orderses_amount" name="orderses[amount]">
    </div>
    <div><label for="orderses_name">Name</label>
        <input type="text" id="orderses_name" name="orderses[name]"
                                                       maxlength="255"></div>
    <div></div>
    <div><label for="orderses_city">City</label><input type="text" id="orderses_city" name="orderses[city]"
                                                       maxlength="30"></div>
    <div><label for="orderses_phone">Phone</label><input type="number" id="orderses_phone" name="orderses[phone]"></div>
    <div><label for="orderses_shipinfo">Shipinfo</label><input type="text" id="orderses_shipinfo"
                                                               name="orderses[shipinfo]" maxlength="50"></div>
    <div><label for="orderses_status">Status</label><input type="text" id="orderses_status" name="orderses[status]"
                                                           maxlength="10"></div>
    <div><label for="orderses_note">Note</label><input type="text" id="orderses_note" name="orderses[note]"
                                                       maxlength="255"></div>

    <input type="hidden" id="orderses__token" name="orderses[_token]"
           value="k0tyN6c_pp8UW2XL_dqtfff6W4o9Lx-zA-rzpkaboPs"></div>