{% extends 'base.html.twig' %}

{% block title %}New slids{% endblock %}

{% block body %}
    <h1>Create new slids</h1>

    {{ include('admin/slids/_form.html.twig') }}

    <a href="{{ path('admin_slids_index') }}">back to list</a>
{% endblock %}
