{% extends 'adminbase.html.twig' %}

{% block title %}Ürün Düzenleme{% endblock %}

{% block content %}
     <div class="content-body">
         {{ include('admin/user/mesagges.html.twig') }}

         <div class="row page-titles mx-0">
            <div class="col p-md-0">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Ürünler</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Ürün DÜzenle</a></li>
                </ol>
            </div>
        </div>
        <!-- row -->

        <div class="container-fluid">
            <div class="row">

                <div class="col">
                    <div class="card">
                        <div class="card-title">
                            <h3>Ürün Oluşturma Formu </h3>
                        </div>



                        {{ include('admin/product/_form.html.twig', {'button_label': 'Update'}) }}

                    <a href="{{ path('admin_product_index') }}">Kategori Listesine Dön</a>

                    {{ include('admin/product/_delete_form.html.twig') }}


    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- #/ onclick="return confirm ('Silinecek emin  misin') "  container -->
{% endblock %}




